<div class="content">
    <p class="copyright">
        {{ with .Site.Params.Copyright }}
            {{ . }} <br>
        {{ end }}
        {{ with .Site.Params.Author }}
            © {{ dateFormat "2006" now }} {{ . }}
        {{ end }}
    </p>
    <div class="socials">
        {{ $socials := .Site.Params.socials }}
        {{ if and .IsHome $socials }}
            {{ $socials = where $socials "landing" true }}
        {{ end }}
        {{ range $el := $socials }}
        <div class="social">
            <a href="{{ $el.url }}" {{ if $el.rel_me }} rel="me" {{ end }} target="_blank">
                <i class="{{ $el.icon }}"></i>
            </a>
        </div>
        {{ end }}
    </div>
</div>
